@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        width: 150px;
        height: 150px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to My Home Page</h1>
    <h1 class="display-4">Crispulo Castellanes</h1>
    <h1 class="display-4">BSIT-32E2</h1>

    <img src ="~/itek.jpg" />
    <h1 class=>Hello i'm a student with a passion for learning and strong work ethic.I strive for academic excellence wihile actively seeking opportunities to expand my knowledge and skills.</h1>

</div>

